
footer {
    background-color: #414b4f;
}

footer .tb-padding {
    padding: 50px 0px;
}

footer .logo {
    padding: 0px 0px 20px;
    border-bottom: 1px solid #c2c2c2;
}

footer .icon {
    font-size: 30px;
    text-align: center;
}

footer a,
p,
li {
    color: #ffffff;
    font-size: 13px;
    line-height: 20px;
}

footer h3 {
    margin-bottom: 21px;
    margin: 20 0 25px;
    color: #ffffff;
    font-weight: 700;
    font-size: 18px;
}

footer h6 {
    font-weight: 400;
    font-size: 12px;
}

footer ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
}

footer ul li {
    padding: 10px 0px;
    border-bottom: 1px solid #5b6366;
}

footer ul li:before {
    content: ">";
    color: #eab830;
    margin-right: 5px;
}

footer a:hover {
    text-decoration: none;
    color: #8cbf30;
}

footer .top-border {
    border-top: 1px solid #c2c2c2;
}

footer .top-border ul li:before {
    content: " ";
}

footer .top-border ul li {
    border: none;
    display: inline-block;
}

footer .top-border ul li a {
    padding: 0px 10px;
}

footer ul .icon {
    float: left;
    margin-right: 23px;
    color: #aaa;
    font-size: 16px;
}

footer ul .text {
    max-width: 211px;
    font-size: 13px;
    color: #fff;
    overflow: hidden;
}

.table_working_hours {
    width: 100%;
}

#title_label {
    color: #000;
}

table {
    margin-bottom: 15px;
}

footer .table_working_hours tr {
    border-color: #67757b;
    border: 0;
    border-bottom: 1px dashed #e1e2e4;
}

footer .table_working_hours tr td {
    padding: 9px 0;
    color: #fff;
}

.table_working_hours tr td .day_label {
    text-align: left;
}

.table_working_hours tr td.day_value {
    text-align: right;
}

#time_label {
    text-align: right;
}

.table_working_hours tr td.day_value.closed span {
    display: inline-block;
    padding: 4px 12px;
    background-color: #f13e3e;
    color: #fff;
    border-radius: 3px;
}

.icon a {
    padding: 0 10px;
    font-size: 16px;
    color: #fff;
}
